{% block title %}
    {{ 'title.error'|trans }}
{% endblock %}

{% block body %}
    <h3 class="mr-5">Page not found</h3>

    <p class="mr-5 mt-3">
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('search_index') }}">return to the homepage</a>.
    </p>
{% endblock %}
