body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container-bg{
    height: 75rem;
    position:relative;
    background-image: url("../files/background_main.png");
}
.container-sm{
    background: #a6d1e0;
    position: center;
    margin-top: 16rem;
    width: 70%;
    padding: 3rem;
}
.navigation .navigation-list{
    list-style: none;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.navigation .navigation-item{
    float: left;
    margin-bottom: 0;
    margin-left: 2.5rem;
    position: relative;
}
.navigation .navigation-link, .navigation .navigation-title, .navigation .title {
    display: inline;
    font-size: 2rem;
    padding: 0;
    text-decoration: none;
}
.container{
    max-width: 100%;
}
.logo-title{
    margin-bottom: 4rem;
    margin-top: 4rem;
    font-size: 2rem;
    cursor: pointer;
}
.description{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.form-search{
    padding-bottom: 3rem;
}
.h2-bold{
    font-weight: bold;
}
.desc-bg{
    font-size: 2rem;
}