html, body {
    margin:0;
    padding:0;
    height:100%;
}
.container{
  flex-grow:1;
}
.form-control-borderless {
    border: none !important;
    outline: none;
    box-shadow: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.footer {
    height: 50px;
    background-color: #444444;
    color: #AAAAAA;
}
.copyright{
    color: #AAAAAA;
}
#page-content {
    flex: 1 0 auto;
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
form label{
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.25rem;
}
.details li {
    list-style: none;
}
.list-group a{
    text-decoration: none;
    color: #666666;
}
.list-group a:hover{
    color: #313131;
}
.post-slide{
    margin-right: 15px;
    background-color:#fff !important;
    width: 80%;
}
.post-slide .post-img {
    float: left;
    width:25%;
    position: relative;
    margin-right: 30px;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
}
.post-slide .post-date{
    background: #ec3c6a;
    color:#fff;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 2% 3%;
    width: 60px;
    height: 60px;
    text-align: center;
    transition:all 0.50s ease;
}
.post-slide .date{
    display: block;
    font-size:20px;
    font-weight: 700;
}
.post-slide .month{
    display: block;
    font-size:11px;
    text-transform: uppercase;
}
.post-slide {
    height: 20%;
    border-top: 3px solid #38cfd8;
}
.post-slide:hover{
    border-top-color:#ec3c6a;
}
.post-slide .post-title {
    margin:12px 0 10px 0;
}
.post-slide .post-title{
    font-size:22px;
    color:#333;
    text-transform:uppercase;
}
.post-slide .post-title-small{
    font-size:18px;
    text-transform: capitalize;
    color:#333;
    line-height: 2.7rem;

}
.col-lg-8 a:hover{
    text-decoration:none;
    font-weight: bold;
}
.post-slide .post-bar{
    padding:0;
    list-style:none;
    text-transform:uppercase;
    position: relative;
    margin-bottom: 20px;
}
.post-slide .post-bar:after,
.post-slide .post-bar:before{
    border: 1px solid #38cfd8;
    bottom: -10px;
    content: "";
    display: block;
    position: absolute;
    right: 36%;
    width: 25px;
}
.post-slide .post-bar:before{
    border: 1px solid #ec3c6a;
    right: 32%;
}
.post-slide .post-bar li{
    color:#555;
    font-size:10px;
    margin-right:10px;
    display:inline-block;
}
.post-slide .post-bar li a{
    font-size: 13px;
    text-decoration:none;
    text-transform:uppercase;
    color:#ec3c6a;
}
.post-slide .post-bar li a:hover{
    color:#ec3c6a;
}
.post-slide .post-bar li i{
    color:#777;
    margin-right:5px;
}
.table{
    background: #FFFFFF;
    width: 80%;
}
td a{
    color: #ec3c6a;
}
td a:hover{
    color: #38cfd8;
    text-decoration: none;
    font-weight: normal;
}
.my-profile{
    height: 100%;
}
.post-more a{
    margin-right: 20%;
    color: #ec3c6a;
}
.jumbotron{
    padding: 2rem 1rem !important;
}
.list-h{
    margin-left: 11rem;
}
th, td{
    font-size: 18px;
}
.tile{
    width: 100%;
    background:#fff;
    border-radius:5px;
    box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
    float:left;
    transform-style: preserve-3d;
    margin: 20px 5px;

}
.banner-img {
    padding: 5px 5px 0;
}

.banner-img img {
    width: 100%;
    border-radius: 5px;
}

.dates{
    border:1px solid #ebeff2;
    border-radius:5px;
    padding:20px 0px;
    margin:10px 20px;
    font-size:16px;
    color:#5aadef;
    font-weight:600;
    overflow:auto;
}
.dates div{
    float:left;
    width:50%;
    text-align:center;
    position:relative;
}
.dates strong,
.stats strong{
    display:block;
    color:#adb8c2;
    font-size:14px;
    font-weight:700;
}
.dates span{
    width:1px;
    height:40px;
    position:absolute;
    right:0;
    top:0;
    background:#ebeff2;
}
.stats{
    border-top:1px solid #ebeff2;
    background:#f7f8fa;
    overflow:auto;
    padding:15px 0;
    font-size:16px;
    color:#59687f;
    font-weight:600;
    border-radius: 0 0 5px 5px;
}
.stats-div{
    border-right:1px solid #ebeff2;
    width: 33.3333%;
    float:left;
    text-align:center;
    font-size: 18px;
}

.stats div:nth-of-type(3){border:none;}

div.footer {
    text-align: right;
    position: relative;
    margin: 20px 5px;
}

div.footer a.Cbtn{
    padding: 10px 25px;
    background-color: #DADADA;
    color: #666;
    margin: 10px 2px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
}

div.footer a.Cbtn-primary{
    background-color: #5AADF2;
    color: #FFF;
}

div.footer a.Cbtn-primary:hover{
    background-color: #7dbef5;
}

div.footer a.Cbtn-danger{
    background-color: #fc5a5a;
    color: #FFF;
}

div.footer a.Cbtn-danger:hover{
    background-color: #fd7676;
}
.event_desc{
    padding: 1rem 5rem 1rem 5rem ;
    color: #313131;
    font-weight: normal;
    font-size: 16px;
}
.ends{
    font-size: 18px;
}
/* CSS Test begin */
.comment-box {
    margin-top: 6rem !important;

}
/* CSS Test end */

.comment-box img {
    width: 50px;
    height: 50px;
}
.comment-box .media-left {
    padding-right: 10px;
    width: 65px;
}
.comment-box .media-body p {
    border: 1px solid #ddd;
    padding: 10px;
}
.comment-box .media-body .media p {
    margin-bottom: 0;
}
.comment-box .media-heading {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 7px 10px;
    position: relative;
    margin-bottom: -1px;
}
.comment-box .media-heading:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -6px;
}
.line_h{
    line-height: 6rem;
}
.stats-div label{
    display:inline-block;
}
.stats input{
    margin-right: auto;
    margin-left: auto;
}
#grade .form-group {
    display:block;
}
#grade .form-group input{
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}
.img-small{
    width: 40px;
    height: 40px;
}
.a-small{
    font-size: 14px;
}
#post .row{
    margin-left: 0;
    margin-top: 2rem;
}
/* CSS Test end */

.post-box img {
    width: 50px;
    height: 50px;
}
.post-box .media-left {
    padding-right: 10px;
    width: 65px;
}
.post-box .media-body p {
    border: 1px solid #ddd;
    padding: 10px;
}
.post-box .media-body .media p {
    margin-bottom: 0;
}
.post-box .media-heading {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 7px 10px;
    position: relative;
    margin-bottom: -1px;
    font-size: 16px;
}
.post-details{
    margin-top: 0.5rem;
    font-size: 16px;
    margin-right: 0.75rem;
}
.media-heading i{
    font-size: 20px;
    margin-top: 0.5rem;
    margin-right: 0.75rem;
}
.div_list{
    margin-left: 15rem;
    font-size: 16px;
}
.h_list{
    margin-left: 15rem;
    font-size: 24px;
}
.panel-admin a{
    font-size: 22px;
    text-transform: uppercase;
    color: #ec3c6a;
}
.panel-admin a:hover{
    color: #a40000;
}
